:root {
	--bg-colour: #FED;
	--text-colour: rgba(0,0,0,0.9);
	--inactive-text-colour: rgba(0,0,0,0.3);
	--accent: #A44;
	--transparent: rgba(0,0,0,0);
	--animation: 0.3s;
}
html {
	background: var(--bg-colour);
	color: var(--text-colour);
	font-family: sans-serif;
}
body { margin: 0.5rem; }
.hidden { display: none !important; }
.tabbar {
	font-size: 200%;
	display: flex;
	text-transform: lowercase;
	margin-bottom: 1rem;
}
.tab {
	color: var(--inactive-text-colour);
	padding: 0.5rem;
	transition: color var(--animation);
	cursor: pointer;
}
.tab.active { color: var(--text-colour); }
.alphabeticallist > section > * {
	padding: 0.5em;
}
.alphabeticallist > section > header {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accent);
}
.track {
	white-space: nowrap;
	overflow: hidden;
	max-width: 30em;
	text-overflow: ellipsis;
	cursor: pointer;
	background-color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--transparent);
	text-underline-offset: 0.5em;
	transition: text-decoration-color var(--animation);
}
.track:hover { text-decoration-color: var(--text-colour); }
.player {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
