:root {
	--bg-colour: #FED;
	--text-colour: rgba(0,0,0,0.9);
	--inactive-text-colour: rgba(0,0,0,0.3);
	--accent: #A44;
	--transparent: rgba(0,0,0,0);
}
html {
	background: var(--bg-colour);
	color: var(--text-colour);
	font-family: sans-serif;
	line-height: 1.5em;
}
body { margin: 1rem; }
.hidden { display: none !important; }
.tabbar {
	font-size: 200%;
	line-height: 1.5em;
	display: flex;
	text-transform: lowercase;
	margin-left: -0.5rem;
}
.tab {
	color: var(--inactive-text-colour);
	padding: 0.5rem;
	transition: color 0.5s;
	cursor: pointer;
}
.tab.active { color: var(--text-colour); }
.alphabeticallist > section { line-height: 2em; }
.alphabeticallist > section > header {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accent);
}
.track {
	cursor: pointer;
}
